.info {
    font-weight: 100;
    color:rgb(100,85,85);
    font-size:90%;
}

#slider-container {
    margin: 20px 50px;
}

#s-plane-container {
    display:inline-block;
    float:left;
    padding:0 10px 10px 10px;
}
#s-plane {
    border: 1px solid black;
    background: white;
}

#function {
  max-width: 500px;
}
